/* common style  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

.half-width{
    width: 50%;
}

.heading-title{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #2D25A0;
    
}

.dottet-hr{
    border: 8px dotted black;
    border-top: none;
    width: 150px;
    margin: auto;
}

/* start header section  */

.flex-container{
    display: flex;
    padding: 50px;
}

.welcome{
    background-color: #2D25A0;
}

.half-width h1{
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.half-width h2{
    font-size: 48px;
    line-height: 60px;
}

.half-width p{
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    margin-right: 130px;
    margin-top: 10px;
}

.btn{
    border: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 36px;
    border-radius: 5px;
    transition: 1s transform;
}

.btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin: 0 8px;
    font-size: 15px;
}

.btn:hover{
    background-image: linear-gradient(rgb(17, 0, 255),#e02c9b);
    transform: scale(1.1);
}

#banner-images{
    width: 556.01px;
    height: 438px;
    overflow: hidden;
    transition: .5s transform;
}

.welcome:hover #banner-images{
    transform: scale(1.1);
}

/*------------
      top players styles
      -------------------- */

.players-container{
    width: 80%;
    margin: auto;
}

.players{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 25px;
    margin-top: 70px;
}

.player{
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}
.player .player-banner img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    transition: 1s tarnsform;
}

.player:hover .player-banner img{
    transform: scale(1.1);
    
}

.player-detail h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}

.player-detail p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
    text-align: justify;
}

/*------------
      top referees styles
      -------------------- */

.referees-container{
    width: 80%;
    margin: auto;
}

.referees{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 25px;
    margin-top: 70px;
}

.referee{
    width: 280px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px 5px rgba(0, 255, 255, 0.24);
    border-radius: 5px;
    padding: 15px;
}

.referee:hover{
    box-shadow: 3px 5px 9px 8px rgba(0, 89, 255, 0.24);
}

.referees-banner img{
    width: 250px;
    height: 256px;
    border-radius: 5px;
}

.referees-detail h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}

.referees-detail p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
    text-align: justify;
}

/*------------
      top prizes styles
      -------------------- */

.prizes-container{
    width: 80%;
    margin: auto;
}

.prizes{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 25px;
    margin-top: 70px;
}

.prize{
    width: 280px;
    background: #FFFFFF;
    box-shadow: 2px 4px 8px 5px rgba(0, 26, 255, 0.315);
    border-radius: 5px;
    padding: 15px;
}

.prize:hover{
    box-shadow: 3px 5px 9px 8px rgba(247, 0, 255, 0.24);
}

.prize-banner img{
    width: 250px;
    height: 256px;
    border-radius: 5px;
}

.prize-detail h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 10px;
}

.prize-detail p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
    text-align: justify;
}

/*------------
      contact section styles
      -------------------- */


.login{
    background-color: teal;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
        
}

.login-form input{
    font-size: 1.3em;
    margin: 20px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
}


.login-form h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}



/*------------
      footer section styles
      -------------------- */


.footer-logo img{
    width: 483.87px;
    height: 110px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-icon{
    width: 300px;
    height: 32px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.footer-icon a{
    color:#2D25A0;
}

.footer-icon i{
    background: #969BAB;
    padding: 5px;
    border-radius: 100%;
    margin: 0 14px;
}

.footer-para p{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 63px;
}


/*---------------
       Media Qurises
----------------------- */


/* mobile device  */

@media only screen and (max-width:686px){

    /* header section  */
    .flex-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .btn{
        flex-direction: row;
        margin-bottom: 50px;
    }

    .half-width{
        width: 100%;
        margin-bottom: 30px;
    }
    #banner-images{
        width: 100%;
    }

    /* main section  */

    .players-container{
        width: 90%;
        margin: auto;
    }

    .players,.referees,.prizes{
        grid-template-columns:repeat(1,1fr);
    }

    .player,.referee,.prize{
        display: block;
        margin: 0 auto;
        
    }

    /* footer section  */

    .footer-container{
        width: 90%;
        display: block;
        margin: auto;
    }
    .footer-logo img{
        width: 90%;
        height: 100px;
    }

}

/* tablet devices */

@media only screen and ( min-width:688px) and (max-width:992px){

    /* header section  */

    .flex-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .btn{
        flex-direction: row;
        margin-bottom: 50px;
    }

    .half-width{
        width: 100%;
        margin-bottom: 30px;
    }
    #banner-images{
        width: 100%;
    }

    /* main section  */

    .players-container{
        width: 90%;
        margin: auto;
    }

    .players,.referees,.prizes{
        grid-template-columns:repeat(2,1fr);
    }

    /* .referees,.prizes{
        grid-template-columns:repeat(1,1fr);
    } */

    .player,.referee,.prize{
        display: block;
        margin: 0 auto;
        
    }
}